<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>918373777319-jjsjljkkrufb2uhm94jumtknmoqfg940.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.918373777319-jjsjljkkrufb2uhm94jumtknmoqfg940</string>
	<key>API_KEY</key>
	<string>AIzaSyDd6sYRuYFuTkmWOOQzhaMij0u9FEfHR-w</string>
	<key>GCM_SENDER_ID</key>
	<string>918373777319</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.enochjohnson.TokenTracker</string>
	<key>PROJECT_ID</key>
	<string>tokentracker-5091d</string>
	<key>STORAGE_BUCKET</key>
	<string>tokentracker-5091d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:918373777319:ios:7decd129dc73b9bdee8082</string>
</dict>
</plist>